<svg width="1000" height="1000">  
   <g *ngFor="let mapRow of map; index as rowIndex">
     <g *ngFor="let mapTile of mapRow; index as colIndex"> 
        <rect *ngIf="mapTile === mapTileEnum.Desert" class="hmp-map-tile hmp-map-tile-desert"
         [attr.x]="(mapTileSizeInPx + mapTileBorderInPx) * colIndex" [attr.y]="(mapTileSizeInPx + mapTileBorderInPx) * rowIndex" 
         [attr.width]="mapTileSizeInPx" [attr.height]="mapTileSizeInPx" />
      <rect *ngIf="mapTile === mapTileEnum.Mountain" class="hmp-map-tile hmp-map-tile-mountain"
         [attr.x]="(mapTileSizeInPx + mapTileBorderInPx) * colIndex" [attr.y]="(mapTileSizeInPx + mapTileBorderInPx) * rowIndex" 
         [attr.width]="mapTileSizeInPx" [attr.height]="mapTileSizeInPx" />
        <rect *ngIf="mapTile === mapTileEnum.Oasis" class="hmp-map-tile hmp-map-tile-oasis"
         [attr.x]="(mapTileSizeInPx + mapTileBorderInPx) * colIndex" [attr.y]="(mapTileSizeInPx + mapTileBorderInPx) * rowIndex" 
         [attr.width]="mapTileSizeInPx" [attr.height]="mapTileSizeInPx" />
        <rect *ngIf="mapTile === mapTileEnum.Water" class="hmp-map-tile hmp-map-tile-water"
         [attr.x]="(mapTileSizeInPx + mapTileBorderInPx) * colIndex" [attr.y]="(mapTileSizeInPx + mapTileBorderInPx) * rowIndex" 
         [attr.width]="mapTileSizeInPx" [attr.height]="mapTileSizeInPx" />
      </g>
   </g>
   <image xlink:href="../../assets/img/HeroMask01.png" [attr.x]="(hero.posCol - 1) * (mapTileSizeInPx + mapTileBorderInPx)" [attr.y]="(hero.posRow - 1) * (mapTileSizeInPx + mapTileBorderInPx)" 
      [attr.height]="mapTileSizeInPx" [attr.width]="mapTileSizeInPx" />
</svg>