.hmp-tile {
    width: 100px;
    height: 100px;
}

.hmp-map-tile-desert {
    fill: #ffa67b
}

.hmp-map-tile-oasis {
    fill: #a6ffa6
}

.hmp-map-tile-mountain {
    fill: #a6a6a6
}

.hmp-map-tile-water {
    fill: #a6a6ff
}