<svg width="1000" height="1000">
  <!-- <image *ngFor="let column of [...Array(mapWidth).keys()]" [attr.x]="column*110" y="10" width="100" height="100" href="../../assets/img/BGDesert.png" /> -->
  <g *ngFor="let column of [1, 2, 3, 4, 5]">
    <image  *ngFor="let row of [1, 2, 3, 4, 5]" [attr.x]="column*110" [attr.y]="row*110" width="100" height="100" href="../../assets/img/BGDesert.png" />
  </g>
</svg>